@model string


<div class="container" ng-app="elibrary.web" ng-controller="BooksController" ng-cloak>

    <div class="panel panel-primary">
        <div class="panel-heading" style="font-size:large">
            {{tag.name}}
        </div>

        <div class="panel-body">

            <div class="alert alert-danger" role="alert" ng-show="hasError" ng-cloak>
                <i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i>
                <i class="sr-only">Error:</i>
                {{errorMessage}}
            </div>
            <div ng-hide="ready">
                <i class="glyphicon glyphicon-refresh glyphicon-spin"></i>
            </div>
            <table class="table" ng-show="ready">

                <tbody>
                    <tr ng-repeat="book in books">
                        <td>
                            <book-info-card book="book" collapsed="true"></book-info-card>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


@Scripts.Render("~/Scripts/angular.min.js")
@Scripts.Render("~/Scripts/app/app.js")
@Scripts.Render("~/Scripts/app/controllers/bookscontroller.js")
@Scripts.Render("~/Scripts/app/services/communicationfactory.js")
@Scripts.Render("~/Scripts/app/directives/bookinfocard.js")

<script>
    angular.module("elibrary.web").value("tagValue", @Html.Raw(Model));
</script>



